h1 {
	text-align: center;
	font-family: fantasy;
	margin: 0 auto;
	font-size: 
}

h2 {
	text-align: center;
	font-family: fantasy;
	font-size: small;
	margin: 0 auto;
}

.content-wrapper {
	margin-left: 30%;
	margin-right: 30%;
	height: 100%;
}

.content-header {
	display: inline;
}

.date {
	float: right;
}