body {
	background-image: url('backdrop.png');
	padding: 5px 10px 5px 10px;
	font-family: 'Open Sans Condensed', sans-serif;
}

h1, h2 {
	margin: 0;
}

h1 {
	font-family: 'Indie Flower';
	font-size: 80px;
	line-height: 80px;
}

h2.header-desc {
	font-size: 38px;
	margin-top: -20px;
}

p.header-desc {
	margin-top: 0;
	font-size: 26px;
	line-height: 30px;
}

.header img, .header div {
	display: inline-block;
}

.sched {
	margin-bottom: 15px;
	overflow: hidden;
}

.left-sched {
	position: relative;
	float: left;
	margin-right: 5px;
	height: 295px;
}

.artist-link img, div.carousel {
	width: 400px;
	height: 300px;
	object-fit: cover;
	object-position: top;
}

.event-datetag {
	position: absolute;
	top: 10px;
	right: 10px;
	width: 15%;
	height: 55px;
	background-color: rgba(255,255,255,0.9);
	text-align: center;
}

.event-datetag-month {
	margin-top: 5px;
}

.event-desc-title {
	margin: 0;
	margin-top: -8px;
}

.event-desc-date {
	margin: 0;
}

.event-desc-text {
	margin-top: 0;
}

.footer {
	margin-top: 40px;
}

.footer-sub {
	display: inline-block;
	width: 30%;
	vertical-align: top;
	margin-right: 4%;
	text-align: center;
}

.footer-3.footer-sub {
	margin-right: 0;
}

.footer-sub p {
	margin: 0;
}

/* RESPONSIVE STYLES */
@media (max-width: 850px){
	.header img, .header div {
		display: block;
		margin: 0 auto;
	}

	h1 {
		font-size: 50px;
		line-height: 60px;
	}

	h2.header-desc {
		font-size: 24px;
	}

	p.header-desc {
		font-size: 16px;
		line-height: 18px;
	}

}

@media (max-width: 540px){
	h1 {
		font-size: 40px;
		text-align: center;
		line-height: 40px;
	}

	h2.header-desc {
		font-size: 20px;
		text-align: center;
		margin-top: 8px;
		text-align: center;
	}

	p.header-desc {
		text-align: center;
	}

	.left-sched {
		height: 300px;
		margin-bottom: 5px;
		float: none;
		display: block;
	}

	.flickity-page-dots {
		display: none;
	}
}

@media (max-width: 400px){
	.left-sched {
		height: 225px;
	}

	.artist-link img, div.carousel {
		width: 300px;
		height: 225px;
		object-fit: cover;
		object-position: top;
	}
}