body {
	background-image: url('backdrop.png');
	padding: 5px 10px 5px 10px;
	font-family: 'Open Sans Condensed', sans-serif;
}

h1, h2 {
	margin: 0;
}

h1 {
	font-family: 'Indie Flower';
}

.header img, .header div {
	display: inline-block;
}

.sched {
	margin-bottom: 15px;
	overflow: hidden;
}

.left-sched {
	width: 33%;
	position: relative;
	float: left;
	margin-right: 5px;
	height: 295px;
}

.artist-link, .artist-link img {
	width: 100%;
	height: 100%;
}

.event-datetag {
	position: absolute;
	top: 10px;
	right: 10px;
	width: 15%;
	height: 18%;
	background-color: rgba(255,255,255,0.9);
	text-align: center;
}

.event-datetag-month {
	margin-top: 5px;
}

.event-desc-title {
	margin: 0;
}

.event-desc-date {
	margin: 0;
}

.footer {
	margin-top: 40px;
}

.footer-sub {
	display: inline-block;
	width: 30%;
	vertical-align: top;
	margin-right: 4%;
}

.footer-3.footer-sub {
	margin-right: 0;
}

.footer-sub p {
	margin: 0;
}