/* BLOGPOST */
.page-nav {
  bottom: 0;
  font-size: 14px;
  display: block;
  left: 0;
  width: 100%;
  position: fixed;
  overflow: hidden; }

.page-nav a {
  display: block;
  float: left;
  padding: 10px;
  font-size: x-large;
  margin: 1em 0;
  color: #373737;
  min-width: 15%;
  max-width: 18%;
  background-color: rgba(1, 1, 1, 0.05);
  transition: 0.6s;
  z-index: 3; }

.page-nav a:hover {
  background-color: rgba(1, 1, 1, 0.2); }

.page-nav p {
  margin: 0 auto; }

.page-nav .next {
  float: right; }

.page-nav .next p {
  text-align: right; }

.page-nav-arrow {
  display: none; }

.text-line {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  padding-bottom: 20px; }

.blog-img {
  width: 100%; }

.blog-img img {
  display: block;
  margin: 0 auto; }

.blog-iframe {
  max-width: 100%; }

.hotspring-title {
  font-size: 40px; }

img.hot-springs-stars {
  max-width: 200px;
  float: right;
  padding: 10px; }

@media (max-width: 750px) {
  .page-nav {
    top: 10vh;
    bottom: 10vh;
    z-index: -3; }

  .page-nav-prev, .page-nav-next, .page-nav a {
    height: 100%;
    display: inline; }

  .page-nav a {
    text-decoration: none;
    min-width: 5%;
    z-index: 5; }

  .page-nav p {
    top: 50%;
    position: absolute;
    bottom: 50%;
    margin: auto; }

  .page-nav-date, .page-nav-title {
    display: none; }

  .page-nav-arrow {
    display: block; } }
