nav {
  background-color: #373737;
  text-align: center;
  overflow: hidden;
  transition: 0.5s; }

nav ul {
  list-style-type: none; }

nav li {
  line-height: 30px; }

nav li.active a {
  color: #373737; }

nav form.icon {
  color: #F4F4F4;
  display: none; }

nav form {
  text-decoration: none;
  display: block;
  text-align: center;
  color: #F4F4F4; }

nav .current button {
  background-color: #373737;
  color: #F4F4F4; }

.nav-btn {
  border: none;
  padding: 2px 4px;
  font-size: 16px;
  font-family: monospace;
  margin: 0 auto; }

.nav-btn button {
  transition: 0.3s; }

.nav-btn:hover {
  color: #373737; }

.nav-btn:hover button {
  background-color: #F4F4F4; }

nav .current button:hover {
  color: #373737; }

.wrapper {
  padding-bottom: 5px;
  transition: 0.3s;
  margin: 10vh 3vw 0px 3vw;
  position: relative; }

.logo-container {
  padding: 10px; }

.image-cropper {
  width: 30px;
  height: 30px;
  position: relative;
  overflow: hidden;
  margin: 0 auto; }

img.logo {
  display: inline-block;
  height: 100%;
  width: auto; }

.home, .blog-container, .about-container {
  text-align: center; }

/* ABOUT PAGE */
.about-container p, .heroes-container p {
  padding: 0px 10px; }

.about-wrapper, .heroes-wrapper {
  text-align: initial;
  padding: 0 20px 0 20px; }

.about-tabs, .heroes-tabs {
  overflow: hidden;
  text-align: center;
  max-width: 80%;
  margin: 0 auto; }

.about-tabs button, .heroes-tabs button {
  background-color: #37373721;
  cursor: pointer;
  outline: none;
  border: none;
  transition: 0.3s; }

.about-tabs button:hover, .heroes-tabs button:hover {
  background-color: #373737;
  color: #F4F4F4; }

.about-tabs button.active, .heroes-tabs button.active {
  background-color: #FFFFFF; }

.about-tabs button.active:hover, .heroes-tabs button.active:hover {
  color: #373737; }

.blog-container ul {
  padding: 0; }

.blog-container li, .about-container li, .heroes-container li {
  display: block;
  margin: 5px;
  background-color: #37373721; }

.tabcontent {
  display: none; }

.about-tabcontent-list, .about-tabcontent-list-item ul {
  padding-inline-start: 0px; }

li.about-tabcontent-list-item, li.heroes-tabcontent-list-item {
  padding: 5px 10px 5px 10px; }

.about-tabcontent-list-item li, .about-tabcontent-list-item li p {
  margin: 3px; }

.about-tabcontent-list-item h4 {
  margin: 2px; }

.heroes-tabcontent-list-item-left {
  float: left;
  padding-right: 10px;
  min-width: 155px;
  max-width: 180px; }

.heroes-tabcontent-list-item-right {
  min-height: 300px; }

.heroes-tabcontent-list-item h4 {
  font-size: -webkit-xxx-large; }

.heroes-tabcontent-list-item h4 {
  clear: left; }

.about-tabcontent-list-item h4, .heroes-tabcontent-list-item h4 {
  float: left; }

.heroes-tabcontent-list-item h4, .heroes-tabcontent-list-item h5 {
  margin: 0; }

.about-tabcontent-list-date, .heroes-tabcontent-list-arch {
  float: right; }

.about-tabcontent-list-corp, .heroes-tabcontent-list-title {
  clear: both; }

.about-tabcontent-iframe-wrapper {
  padding-top: 56.25%;
  position: relative;
  margin: 0; }

.about-tabcontent-iframe-wrapper iframe {
  border: 0; }

.gallery-wrapper {
  position: relative; }

.gallery-button-display-left {
  position: absolute;
  top: 50%;
  left: 0%;
  transform: translate(0%, -50%); }

.gallery-button-display-right {
  position: absolute;
  top: 50%;
  right: 0%;
  transform: translate(0%, -50%); }

.gallery .gallery-image {
  margin: 0 auto;
  height: 340px;
  object-fit: cover;
  max-width: 100%; }

.about-tabcontent-list-item ul {
  font-family: monospace; }

.heroes-portrait {
  float: left;
  max-width: 150px;
  background-color: #96969661;
  width: 150px;
  height: 150px; }

.heroes-tabcontent-list-item ul li.heroes-ability {
  margin-bottom: 2vh;
  background-color: #96969661;
  padding: 2px;
  display: flow-root; }

li.heroes-tabcontent-list-item p {
  font-family: unset; }

img.heroes-ability-img {
  max-height: 80px;
  float: left;
  padding: 5px 10px 5px 5px; }

.heroes-ability h6 {
  font-size: x-large; }

.heroes-ability h6, .heroes-ability li {
  display: -webkit-box;
  margin: 0 0 0 10px; }

.heroes-ability li {
  padding-left: 5px; }

li.heroes-ability p {
  margin: 0 0 5px 100px;
  font-size: medium;
  background-color: #e5e5e5;
  display: table;
  font-family: monospace; }

.tabcontent p {
  font-family: monospace; }

.quotes {
  text-align: center;
  font-family: monospace; }

@media (max-width: 420px) {
  nav form {
    float: left; }

  nav form:not(:nth-child(2)) {
    display: none; }

  nav form.icon {
    float: right;
    display: block;
    padding: 13px; }

  nav form.icon i {
    margin: 0 auto;
    display: block; }

  nav.responsive {
    position: relative;
    overflow: visible; }

  nav.responsive form.icon {
    float: center;
    background-color: rgba(255, 255, 255, 0.16); }

  nav.responsive form {
    float: none;
    display: block;
    margin-bottom: 2px; }

  .about-tabs button, .heroes-tabs button {
    display: block;
    text-align: center;
    margin: 5px auto 5px auto; } }
/* Larger than mobile */
@media (min-width: 420px) {
  nav form {
    display: inline-block; }

  .image-cropper {
    width: 84px;
    height: 84px; }

  .wrapper {
    margin: 10vh 20vw 0px 20vw; }

  .about-tabs button, .heroes-tabs button {
    margin: 3px auto 2px auto; }

  .about-tabcontent-list, .about-tabcontent-list-item ul {
    padding-inline-start: 40px; } }
/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {
  .image-cropper {
    width: 110px;
    height: 110px; } }
@media (max-width: 750px) {
  .wrapper {
    z-index: 3; } }
/* Larger than tablet */
@media (min-width: 750px) {
  .wrapper {
    z-index: 0; }

  .image-cropper {
    width: 150px;
    height: 150px; }

  .social-entry {
    z-index: 10; } }
/* Larger than desktop */
@media (min-width: 1000px) {
  .image-cropper {
    width: 200px;
    height: 200px; } }
